# Python Pandas
## Remove/Add Columns and Rows, Column Operations

* 1 - Remove/Add Columns and Rows
  * 1.1 - Remove/Add Columns
    * 1.1.1 - Remove Columns
    * 1.1.2 - Add Columns
      * 1.1.2.1 - Add a column with a single value
      * 1.1.2.2 - Add a column with Operations
  * 1.2 - Remove/Add Rows
    * 1.2.1 - Remove a single or multiple rows
      * 1.2.1.1 - Remove Single Row
      * 1.2.1.2 - Remove Multiple Rows
      
[Official Documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)

In [37]:
import pandas as pd
import numpy as np
Countries = pd.read_excel('Countries.xlsx', 
                          sheet_name = 'Sheet1')
Countries

           Country European_Region  GDPperCapita(PPP)  Population_Millions
0         Portugal        Southern               33.4                 10.3
1           Poland         Eastern               33.5                 38.4
2          Germany         Western               55.0                 82.9
3   United Kingdom        Northern               47.0                 66.4
4           France         Western               47.1                 67.3
5            Spain        Southern               42.1                 46.8
6            Italy        Southern               40.7                 60.5
7          Belgium         Western               49.7                 11.5
8           Norway        Northern               76.6                  5.4
9      Switzerland         Western               66.8                  8.6
10      Azerbaijan         Eastern               18.8                  9.9

# 1 - Remove/Add Rows and Columns

## 1.1 - Remove/Add Columns

### 1.1.1 - Remove Columns

Use `.drop()` method to remove specific columns. This method can also be applied to drop rows.

Take `Countries` dataset. Example, drop 'Population_Millions' column.

In [38]:
#Countries.drop(['Population_Millions'], axis=1)
Countries.drop(columns=['Population_Millions'])

           Country European_Region  GDPperCapita(PPP)
0         Portugal        Southern               33.4
1           Poland         Eastern               33.5
2          Germany         Western               55.0
3   United Kingdom        Northern               47.0
4           France         Western               47.1
5            Spain        Southern               42.1
6            Italy        Southern               40.7
7          Belgium         Western               49.7
8           Norway        Northern               76.6
9      Switzerland         Western               66.8
10      Azerbaijan         Eastern               18.8

### 1.1.2 - Add columns

#### 1.1.2.1 - Add single column with value 1


Example, append additional colum **True**, with 1 for all rows.

To add a new column 
```python
df['NewColumn'] = 
```

In [39]:
Countries['True'] = 1
Countries

,Country,European_Region,GDPperCapita(PPP),Population_Millions,True
0,Portugal,Southern,33.4,10.3,1
1,Poland,Eastern,33.5,38.4,1
2,Germany,Western,55.0,82.9,1
3,United Kingdom,Northern,47.0,66.4,1
4,France,Western,47.1,67.3,1
5,Spain,Southern,42.1,46.8,1
6,Italy,Southern,40.7,60.5,1
7,Belgium,Western,49.7,11.5,1
8,Norway,Northern,76.6,5.4,1
9,Switzerland,Western,66.8,8.6,1
10,Azerbaijan,Eastern,18.8,9.9,1

#### 1.1.2.2 - Through Operation

In this section Column operations will also be used. This is to be further explored in a different section. 

##### What is each countries GDP in million dollars?

Create `Total_GDP` column by multiplying Population with GBPperCapita
To add a new column 

```python
df.['NewColumn'] = 
```

In [40]:
Countries['Total_GDP'] = Countries['Population_Millions']*Countries['GDPperCapita(PPP)']
Countries

,Country,European_Region,GDPperCapita(PPP),Population_Millions,True,Total_GBP
0,Portugal,Southern,33.4,10.3,1,344.02
1,Poland,Eastern,33.5,38.4,1,1286.40
2,Germany,Western,55.0,82.9,1,4559.50
3,United Kingdom,Northern,47.0,66.4,1,3120.80
4,France,Western,47.1,67.3,1,3169.83
5,Spain,Southern,42.1,46.8,1,1970.28
6,Italy,Southern,40.7,60.5,1,2462.35
7,Belgium,Western,49.7,11.5,1,571.55
8,Norway,Northern,76.6,5.4,1,413.64
9,Switzerland,Western,66.8,8.6,1,574.48
10,Azerbaijan,Eastern,18.8,9.9,1,186.12

Example, append additional colum **RelativeWealth**, with Poorer countries having below average 'GDPperCapita(PPP)', and Wealthier countries the ones with GDPperCapita above average.

On below example there are two formulas that will be explored in a later module, the first is the `np.where` function similar to a `if..then..` statment, and the second one is `.mean()` function to calculate average *per capita* GDP.

In [41]:
# Apply if,... then. type of formula to specify countries above average wealth per capita. 
# np.where is used for this porpuse
Countries['RelativeWealth'] = (np.where(Countries['GDPperCapita(PPP)'] > Countries['GDPperCapita(PPP)'].mean(),
                                        'Wealthier', 'Poorer'))

# Reorder columns
Countries = pd.DataFrame(Countries, columns=['Country', 'European_Region', 'RelativeWealth', 
                                             'Population_Millions', 'GDPperCapita(PPP)',
                                             'Total_GBP'])

Countries

,Country,European_Region,RelativeWealth,Population_Millions,GDPperCapita(PPP),Total_GBP
0,Portugal,Southern,Poorer,10.3,33.4,344.02
1,Poland,Eastern,Poorer,38.4,33.5,1286.40
2,Germany,Western,Wealthier,82.9,55.0,4559.50
3,United Kingdom,Northern,Wealthier,66.4,47.0,3120.80
4,France,Western,Wealthier,67.3,47.1,3169.83
5,Spain,Southern,Poorer,46.8,42.1,1970.28
6,Italy,Southern,Poorer,60.5,40.7,2462.35
7,Belgium,Western,Wealthier,11.5,49.7,571.55
8,Norway,Northern,Wealthier,5.4,76.6,413.64
9,Switzerland,Western,Wealthier,8.6,66.8,574.48
10,Azerbaijan,Eastern,Poorer,9.9,18.8,186.12

## 1.2 - Remove Rows

### 1.2.1 - Remove a single or multiple rows

**Remove single row** - Example , Remove Germany from data set. On Original data frame refers to row 2

In [42]:
Countries.drop(2)

,Country,European_Region,RelativeWealth,Population_Millions,GDPperCapita(PPP),Total_GBP
0,Portugal,Southern,Poorer,10.3,33.4,344.02
1,Poland,Eastern,Poorer,38.4,33.5,1286.40
3,United Kingdom,Northern,Wealthier,66.4,47.0,3120.80
4,France,Western,Wealthier,67.3,47.1,3169.83
5,Spain,Southern,Poorer,46.8,42.1,1970.28
6,Italy,Southern,Poorer,60.5,40.7,2462.35
7,Belgium,Western,Wealthier,11.5,49.7,571.55
8,Norway,Northern,Wealthier,5.4,76.6,413.64
9,Switzerland,Western,Wealthier,8.6,66.8,574.48
10,Azerbaijan,Eastern,Poorer,9.9,18.8,186.12

Use as example a situation where `Country` column is indexed

In [45]:
iCountries = Countries.set_index('Country')
iCountries

,European_Region,RelativeWealth,Population_Millions,GDPperCapita(PPP),Total_GBP
Country,,,,,
Portugal,Southern,Poorer,10.3,33.4,344.02
Poland,Eastern,Poorer,38.4,33.5,1286.40
Germany,Western,Wealthier,82.9,55.0,4559.50
United Kingdom,Northern,Wealthier,66.4,47.0,3120.80
France,Western,Wealthier,67.3,47.1,3169.83
Spain,Southern,Poorer,46.8,42.1,1970.28
Italy,Southern,Poorer,60.5,40.7,2462.35
Belgium,Western,Wealthier,11.5,49.7,571.55
Norway,Northern,Wealthier,5.4,76.6,413.64
Switzerland,Western,Wealthier,8.6,66.8,574.48
Azerbaijan,Eastern,Poorer,9.9,18.8,186.12

In [46]:
# Countries2i.drop(['Germany'], axis=0)
iCountries.drop(['Germany'])

,European_Region,RelativeWealth,Population_Millions,GDPperCapita(PPP),Total_GBP
Country,,,,,
Portugal,Southern,Poorer,10.3,33.4,344.02
Poland,Eastern,Poorer,38.4,33.5,1286.40
United Kingdom,Northern,Wealthier,66.4,47.0,3120.80
France,Western,Wealthier,67.3,47.1,3169.83
Spain,Southern,Poorer,46.8,42.1,1970.28
Italy,Southern,Poorer,60.5,40.7,2462.35
Belgium,Western,Wealthier,11.5,49.7,571.55
Norway,Northern,Wealthier,5.4,76.6,413.64
Switzerland,Western,Wealthier,8.6,66.8,574.48
Azerbaijan,Eastern,Poorer,9.9,18.8,186.12